---
import AboutHeroImage from '../assets/placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	updatedDate={new Date('July 10 2026')}
>
	<p>
	    I'm Jay
	</p>

	<p>
	    I like programming
	</p>

	<p>
        Astro is cool
	</p>
</Layout>
