---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<a class="wordmark" href="/" aria-label={`${SITE_TITLE} home`}>
		shenzip
	</a>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>
		<HeaderLink href="https://github.com/6a6179" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0 0 2em;
	}
	.wordmark {
		display: block;
		width: fit-content;
		margin: 0.5em 0;
		color: var(--heading);
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: -0.04em;
		text-decoration: none;
	}
</style>
